<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Forecast</title>
    <link rel="stylesheet" href="../static/css/output.css">

    <style>
        body{
            background-image: url('../static/css/rainybg.jpeg');
        }
    </style>
</head>
<body>
    <!-- Raindrops -->
    <div class="raindrop"></div>
    <div class="raindrop"></div>
    <div class="raindrop"></div>
    
    <!-- Weather Info -->
    <div class="weather-info">
        <img class="rainy-img" src="../static/css/rainy.jpeg" alt="Rainy Image">
        <h1>Weather Forecast for Tomorrow</h1>
        <p>The weather tomorrow will be rainy.</p>
        
        <a class="info-btn" href="/">Predict Again</a>
       
    </div>
</body>
</html>
